{% extends "base.html" %}


{% block content %}
<div class="hero-unit">
  <h1 class="text-center">{{ project.title }}</h1>
</div>

<div class="container">
<div class="row">

{# Unedited Text #}
  <div class="project-version span6">
    <h2>Unedited Version</h2>
    <pre>{{ project.unedited }}</pre>
    <p><small>Created {{ project.time_created }}</small></p>
  </div>

{# Edited Text #}
  <div class="project-version span6">
    <h2>Edited Version</h2>
    {% if project.edited %}
      <pre>{{ project.edited }}</pre>
      <p><small>Returned {{ project.time_received }}</small></p>
    {% else %}
    <br /><br /><br />
      <p class="text-center">Your edits have not come back yet.</p>
    {% endif %}
  </div>

</div>
</div>

{% endblock content %}
