.main {
    min-height: 100%;
}
pre {
    border: none;
    background: inherit;
    font: inherit;
}
.hero-unit {
    padding: 30px 60px;
}
.hero-unit h1 {
    font-size: 50px;
    margin-bottom: 10px;
}
.project-version h2 {
    text-align: center;
    border-bottom: 1px solid #bbb;
}
footer {
    margin: 40px 0px 0px;
    padding: 30px 0px;
    text-align: center;
    /*background-color: #16161D;*/
    /*bottom: 0px;*/
    width: 100%;
}
footer hr {
    border-color: #ccc;
}
textarea {
    width: 100%;
}